head
  script(type="text/javascript", src="/js/lib/jquery.js")

body
  <h1 id="fb-welcome"></h1>

  .lottery(style="display: none;")
    button.square(index="0")
    button.square(index="1")
    button.square(index="2")
    button.square(index="3")
    button.square(index="4")
    button.square(index="5")
    button.square(index="6")
    button.square(index="7")
    button.square(index="8")
    button.square(index="9")

  script(type="text/javascript", src="/js/app.js")