head
  script(type="text/javascript", src="/js/lib/jquery.js")

body
  <h1 id="fb-welcome"></h1>

  .lottery(style="display: none;")
    button
    button
    button
    button
    button
    button
    button
    button
    button
    button

  script(type="text/javascript", src="/js/app.js")