body {
  margin: 0;
  padding: 0;
}

.lottery {
  background-color: #FFF;
  margin: 0;
  width: 100%;
}

.calendar {
  width: 731px;
  height: 1090px;
  padding: 230px 0px 0px 29px;
  background-image: url("/assets/advent-calendar-back.png"); 
  margin: 0 auto 0 auto;
}

.calendar .square {
  float: left;
  width: 180px;
  height: 180px;
  background-image: url("/assets/D-static.png");
  border: none;
  margin: 13px 27px 13px 27px;
  box-shadow: 0 5px 10px #2d0b00;
  cursor: pointer;
  animation-play-state: paused;
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
}

.calendar .square:hover {
  width: 182px;
  height: 182px;
  margin: 12px 26px 12px 26px;
}
/* D */
.calendar .button0 {

}

.calendar .button9 {
  margin-left: 261px;
}

.calendar .button9:hover {
  margin: 12px 26px 12px 260px;
}
